PUID="1000"
PGID="10"
TIMEZONE="Pacific/Auckland"
SONARR_API_KEY="REDACTED"
RADARR_API_KEY="REDACTED"
PROWLARR_API_KEY="REDACTED"
CLOUDFLARE_TUNNEL_TOKEN="REDACTED"
LOG_LEVEL="debug"
MEDIA_DIR="/mnt/d/Media"
PLEX_CLAIM="claim-xxx"
DNS_ZONE="imranismail.dev"
