LETSENCRYPT_EMAIL="<redacted>"
HOSTNAME="<redacted>"
USER_ID="1000"
GROUP_ID="1000"
TIMEZONE="Pacific/Auckland"
SERIES_SONARR_API_KEY="<redacted>"
ANIME_SONARR_API_KEY="<redacted>"
RADARR_API_KEY="<redacted>"
PROWLARR_API_KEY="<redacted>"
LOG_LEVEL="debug"
MEDIA_DIR="/mnt/d/Media"
