*

!.gitignore
!compose.yaml
!compose.cloudflared.yaml
!Makefile
!.env.example
!README.md

!scripts/
!scripts/*

!sonarr/
!sonarr/config.xml.template

!overseerr/
!overseerr/settings.json.partial

!prowlarr/
!prowlarr/config.xml.template

!radarr/
!radarr/config.xml.template

!recyclarr/
!recyclarr/settings.yml
!recyclarr/recyclarr.yml

!Dockerfile
!entrypoint.sh
!package.json
!package-lock.json
!index.js
