*

!.gitignore
!docker-compose.yaml
!Makefile
!.env.example
!README.md

!scripts/
!scripts/*

!anime-sonarr/
!anime-sonarr/config.xml.template

!authelia/
!authelia/.gitkeep

!overseerr/
!overseerr/settings.json.partial

!prowlarr/
!prowlarr/config.xml.template

!radarr/
!radarr/config.xml.template

!recyclarr/
!recyclarr/settings.yml
!recyclarr/recyclarr.yml

!series-sonarr/
!series-sonarr/config.xml.template

!traefik/
!treafik/.gitkeep